/* 
a:link {background-color: antiquewhite;}
a:link {color: brown;}
a:hover {color: hotpink;}
a:active {color: blueviolet;}
a:link {text-decoration: none;}
a:hover {text-decoration: underline;}
ul {
    list-style-type: none;
}
li {display: inline;}
a {display: block;}
*/
* {margin: 0;}
li {font-size: 23px;}
ul {list-style: none; overflow: hidden;}
li {float: left; padding: 10px; background-color: black; display: block;}
.menu {background-color: black;}
a {color: white;}
li:hover {background-color: brown;}
.dropdown-content {display: none;}
a:link {text-decoration: none;}